.jumbotron {
	height: 393px;
	background-image: url(../assets/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -191px;
  }
  
  
  table, td {
	  border: 1px solid grey;
	  border-collapse: collapse;
  }
  
  td {
	  width: 35px;
	  height: 35px;
  }
  
  .container-board {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }